.page {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.page p {
    margin: 0;
}

.link-more {
    font-weight: 400;
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2px;
    color: var(--blue-color);
    transition: 0.3s;
}
    
.link-more:hover {
    color: var(--dark-blue-color);
}

@media (max-width: 1135px) {
    .page p {
        text-align: center;
    }
}