.team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px 20px;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team__item {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 16px;
    grid-column: span 2;
}

.team__item:nth-last-child(1):nth-child(odd) {
	grid-column: 2 / span 2;
}

.team__image {
    border-radius: 50%;
}

.team__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
}

.team .team__sub-title {
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 2px;
    color: var(--blue-color);
}

.team .team__second-position {
    margin: 0;
    margin-bottom: 5px;
    max-width: 324px;
}

.team .team__link {
    display: inline-block;
    margin-bottom: 16px;
}

.team .team__work {
    margin: 0;
    margin-bottom: 16px;
}

@media (max-width:  1135px) {
    .team__item, 
    .team__item:nth-last-child(1):nth-child(odd) {
        grid-template-columns: 1fr;
        grid-column: span 4;
    }

    .team__image {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    
    .team__descr {
        text-align: center;
    }
    .team .team__second-position {
        max-width: 100%;
    }
}